/**
* Content
*/
#content {
    min-height: 300px;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -4em;
}


/**
* Clearfix
*/
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.clear {
    clear: both;
}

/**
 * Base Styles
 */

body {
    font: normal normal normal 69%/160% 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    font-size: 11pt;
    background: #F5F5F5;
    color: #444444;
}

.wrapper {
    margin: 0 auto;
    width: 900px;
}

.box {
    background: #EFEFEF;
    border: 1px solid #ddd;
    color: #555;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 8px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

/**
* Text Styles
*/

a {
    color: #0066ff;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #0099ff;
}

code, kbd, samp, pre, tt, var {
    font-family: 'DejaVu Sans Mono', 'Courier New', Courier, monospace, sans-serif;
    background-color: #EAEFF4;
}

code {
    border: 1px solid #DADFF4;
    color: #069;
    overflow: auto;
    padding: 12px 12px;
    margin: 8px 0;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

code .comment {
    color: #096;
    font-style: italic;
}

code.css {
    color: #690;
    background-color: #EAF4EF;
    border-color: #DAF4DF;
}

.hint {
    font-size: 10pt;
    clear: both;
    color: #999;
    display:block;
    margin: 0 0 8px 172px; /* label width + label margins + input padding*/
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
}

h1, h2, h3 {
    margin: 1.2em 0 0.5em 0;
}

h1, h2, h3, b, strong {
    font-weight: bold;
}


/*
 * Title box
 */
.title-box {
    display: block;
    padding: 16px;
    margin: 8px 0;
    background-color: #D0D0D0;
    border: 1px solid #ACADC2;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

.title-box h1 {
    text-align: center;
    margin-top: 0;
}


input, textarea, select {
    outline: none;
    width: 300px;
    font-size: 12pt;
}

input[type=checkbox], input[type=radio] {
    width: auto;
}

form label, form .label-gap {
    display: inline-block;
    margin: 4px 8px;
    width: 180px;
    vertical-align: middle;
}

select, textarea, input[type=text], input[type=password] {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 4px 6px;
    background-color: #fafafa;
}

select:hover, textarea:hover, input[type=text]:hover, input[type=password]:hover,
select:focus, textarea:focus, input[type=text]:focus, input[type=password]:focus {
    border-color: #aaa;
    background-color: #ffffff;
}


.button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);

    cursor: pointer;
    display: inline-block;
    padding: 7px 16px;
    outline: none !important;
    text-align: center;
    text-decoration: none;

    line-height: 16px;

    vertical-align: middle;
}
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; }


.button-gray {
    color: #777;
    border: 1px solid #ccc;
    background: #f7f7f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e1e1e1));
    background: -moz-linear-gradient(top,  #f7f7f7,  #e1e1e1);
    background: -o-linear-gradient(top,  #f7f7f7,  #e1e1e1);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e1e1e1');
    text-shadow: 0 1px 0 #fff;
}

.button-gray:hover, .button-gray:focus {
    border: 1px solid #aaa;
    background: #ececec;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ccc));
    background: -moz-linear-gradient(top,  #f1f1f1,  #ccc);
    background: -o-linear-gradient(top,  #f1f1f1,  #ccc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#cccccc');
}

.button-gray:active, .button-gray.active {
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#f1f1f1));
    background: -moz-linear-gradient(top,  #ccc,  #f1f1f1);
    background: -o-linear-gradient(top,  #ccc,  #f1f1f1);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#f1f1f1');
}






table.full {
    width: 100%;
}

table.styled {
    border: 1px solid #aaa;
    border-collapse: separate;
}

table.styled thead th {
    background-color: #e1e1e1;
    text-align: left;
    color: #333;
}

table.styled, table.styled thead th:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

table.styled, table.styled thead th:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

table.styled, table.styled tbody tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table.styled, table.styled tbody tr:last-child td:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

table.styled th, table.styled td {
    padding: 5px;
}

table th {
    text-align: left;
}

table.styled tbody tr:nth-child(odd) td {
    background-color: #ebedf2;
}

table.styled tbody tr.selected td {
    background-color: #abadf2;
}




.toggleOn {
    color: #2e7a17;
    font-weight: bold;
}

.toggleOff {
    color: #960100;
    font-weight: bold;
}

.form_buttons {
    height: 32px;
}

.small {
    width: 60px;
}

.medium {
    width: 160px;
}

.fr {
    float: right;
}


/* Data tables styles */

.dataTables_length {
    float: right;
}

.dataTables_info {
    float: right;
}

.dataTables_length select {
    width: 80px;
}


.dataTables_paginate a {
    display: inline-block;
    width: 80px;
    text-align: center;
    cursor: default;
}

.dataTable {
    margin: 8px 0;
}